$textColor: #fff;
$TitleColor: #DC5F00;
$textColorDifferent: #413543;

//gradiente background
$black: #000000;
$purple: #581845;
$magenta: #900C3F;
$pink: #C70039;
$orange: #FF5733;


$button: #CF0A0A;